<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loadCsvPath11</key>
	<string>/Users/gdlocal/Suncode_FCT/profile/subScript/FCT__MobileRestore.csv</string>
	<key>loadCsvPath</key>
	<string>/Volumes/MAC2/Mini_Fct/Suncode_FCT/profile/FCT__MobileRestore.csv</string>
	<key>unSelectItems</key>
	<string>1,2,3,4,5,6,7,8,54,55,56,57,58,59,60,61</string>
</dict>
</plist>
